<div class="example-container">
  <h2 class="mat-h2">Changelog</h2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 1.1.1 Beta </mat-panel-title>
        <mat-panel-description> 2020-04-20 </mat-panel-description>
      </mat-expansion-panel-header>
      <p i18n>First beta release.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 1.1.2 Beta </mat-panel-title>
        <mat-panel-description> 2020-06-18 </mat-panel-description>
      </mat-expansion-panel-header>
      <p i18n>Include `Card Analysis`.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 1.1.3 Beta </mat-panel-title>
        <mat-panel-description> 2020-07-11 </mat-panel-description>
      </mat-expansion-panel-header>
      <p i18n>Many UI enhancements.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 1.1.4 Beta </mat-panel-title>
        <mat-panel-description> 2020-09-02 </mat-panel-description>
      </mat-expansion-panel-header>
      <p i18n>Addition of Scriptor and new configuration screens for devices.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 1.1.5 Beta </mat-panel-title>
        <mat-panel-description> 2020-10-22 </mat-panel-description>
      </mat-expansion-panel-header>
      <p i18n>Many internal improvements (like in configurations reload from registers values) and some important bugs corrections.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 1.1.6 Beta </mat-panel-title>
        <mat-panel-description> 2021-01-25 </mat-panel-description>
      </mat-expansion-panel-header>
      <p i18n>Localization</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 1.1.7 Beta </mat-panel-title>
        <mat-panel-description> 2021-03-24</mat-panel-description>
      </mat-expansion-panel-header>
      <p i18n>Online and offline payment</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 1.1.8 Beta </mat-panel-title>
        <mat-panel-description> 2021-07-05</mat-panel-description>
      </mat-expansion-panel-header>
      <p i18n>Possiblity to run without the service</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 1.1.9 Beta </mat-panel-title>
        <mat-panel-description> 2021-07-26</mat-panel-description>
      </mat-expansion-panel-header>
      <p i18n>Added `Inspect configuration`.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 1.2.0 Beta </mat-panel-title>
        <mat-panel-description> 2021-07-27</mat-panel-description>
      </mat-expansion-panel-header>
      <p i18n>Addition of the possibility to export the list of team products.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 1.2.1 Beta </mat-panel-title>
        <mat-panel-description> 2021-07-27</mat-panel-description>
      </mat-expansion-panel-header>
      <p i18n>Addition of the possibility to export the list of flashes.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 1.2.2 Beta </mat-panel-title>
        <mat-panel-description> 2021-08-17</mat-panel-description>
      </mat-expansion-panel-header>
      <p i18n>Addition of the possibility to export all team users products.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 1.2.3 Beta </mat-panel-title>
        <mat-panel-description> 2021-08-18</mat-panel-description>
      </mat-expansion-panel-header>
      <p i18n>Addition of the possibility to export all the members of the team and possibility to export the flash history of the team's products.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 1.2.4 Beta </mat-panel-title>
        <mat-panel-description> 2021-09-15</mat-panel-description>
      </mat-expansion-panel-header>
      <p i18n>Bug correction in the screen used to apply a configuration to a device. UI improvements.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 1.2.5 Beta </mat-panel-title>
        <mat-panel-description> 2021-09-24</mat-panel-description>
      </mat-expansion-panel-header>
      <p i18n>Regeneration of configuration screens for certain products.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 1.2.6 Beta </mat-panel-title>
        <mat-panel-description> 2022-10-25</mat-panel-description>
      </mat-expansion-panel-header>
      <p i18n>Regeneration of configuration screens for certain products.</p>
      <p i18n>UI improvements.</p>
      <p i18n>Add non-USB device connection.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 1.2.7 Beta </mat-panel-title>
        <mat-panel-description> 2022-11-18</mat-panel-description>
      </mat-expansion-panel-header>
      <p i18n>Devices page - Column visibility and alignment</p>
      <p i18n>Language change</p>
      <p i18n>Hide serial and network buttons if not enabled</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
