<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <strong><ng-container i18n>SpringCard Companion Web Application</ng-container></strong>
      </mat-card-title>
    </mat-card-header> 
    <mat-card-content>
      <ng-container i18n>Front-end Version:</ng-container><br/><span>2022-20-10 g3d22c709</span><br/><br/>
      <ng-container i18n>Back-end Version:</ng-container><br/><span>2022-09-07 g4ce077a1</span>
    </mat-card-content>
  </mat-card>

  <mat-card class="about">
    <mat-card-header>
      <mat-card-title>
        <strong><ng-container i18n>About</ng-container></strong>
      </mat-card-title>
    </mat-card-header> 
    <mat-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla corrupti dicta dolorem magnam corporis officia libero quia consectetur aut debitis sint explicabo, provident eum sequi soluta iste, laborum inventore. Cupiditate!
    </mat-card-content>
  </mat-card>
</div>