<div class="container">
  <mat-card *ngIf="!isRequested" >
    <mat-card-header>
      <mat-card-title>
        <div mat-card-avatar><i class="material-icons">contact_mail</i></div>
        <h1 i18n>Lost password?</h1>
      </mat-card-title>
      <mat-card-subtitle>
        <p i18n>Please enter your email address. We'll send you a message with the instructions to reset your password.</p>
    </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="before_reset">
      <form [formGroup]="requestNewPasswordForm" (ngSubmit)="requestNewPassword()">
        <mat-form-field class="full-width">
          <mat-label i18n>Email</mat-label>
          <input matInput type="email" name="email" formControlName="email" required />
          <mat-error>
            <val-errors controlName="email"></val-errors>
          </mat-error>
        </mat-form-field>
  
        <button mat-flat-button class="request_btn" type="submit" color="primary">
          <mat-icon *ngIf="isRequesting"><mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner></mat-icon>
          <ng-container i18n>Reset password</ng-container>
        </button>
        <button mat-stroked-button class="back_btn" (click)="goBackToLogin()" i18n>Back to login</button>
      </form>
      <!-- <div class="additional_actions">
        <a class="action_btn" (click)="goBackToLogin()">Cancel</a>
      </div> -->
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="isRequested">
    <mat-card-header>
      <mat-card-title>
        <div mat-card-avatar><i class="material-icons">contact_mail</i></div>
        <h1 i18n>Password Reset</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="after_reset">
      <p i18n>If we find a user matching email address <strong>{{requestNewPasswordForm.value.email}}</strong>, 
        you will receive an email containing a password reset link</p>
      <p i18n>If you have not received this email after a few minutes, please check your spam folder.<br/>
        Contact <a class="action_btn">our support team</a> if the problem persists.
      </p>
      <div class="additional_actions">
        <button mat-stroked-button class="back_btn" (click)="goBackToLogin()" i18n>Back to login</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>