<div class="container">
  <mat-card>
    <h2 i18n>SpringCard Companion Download Page</h2>
    <p i18n>SpringCard Companion Service is a lightweight Windows software that acts as the gateway between the SpringCard devices, connected your computer, and the SpringCard Companion application in the cloud.</p>
    <p i18n>Currently, SpringCard Companion Service is available only for computers running Microsoft Windows 10 or 11.</p>
    <div class="download_buttons">
      <a
        href="https://www.springcard.com/en/download/find/file/sn20030"
        target="_blank"
        i18n-title
        mat-flat-button
        color="primary"
        title="Download SpringCard Companion"
        ><ng-container i18n>Companion Service for Windows</ng-container></a
      >

      <a
        disabled
        href="https://www.springcard.com/en/download/find/file/sn20030"
        target="_blank"
        i18n-title
        mat-flat-button
        color="warn"
        title="Download SpringCard Companion"
        ><ng-container i18n>Companion Service for MacOS</ng-container></a
      >
    </div>
  </mat-card>
</div>
