
<mat-accordion >
      <form [formGroup]="configurationForm">
            <blockquote>
	<h4 i18n>List of protocols (or family of cards) to poll *</h4>
	<mat-form-field class="full-width">
		<mat-label i18n>Select one</mat-label>
		<mat-select formControlName="lookups">
					<mat-option value="D1" i18n="_templates_">(Apple VAS)</mat-option>
				</mat-select>
	</mat-form-field>
</blockquote>
            <ng-container i18n="_multiconf_"><p>Read data from an iOS mobile phone using ECP and the Apple VAS protocol.
On iOS, the Apple Wallet application allows users to organize their boarding passes, tickets, gift cards, and loyalty cards. Management of the passes is performed through the PassKit framework. NFC-enabled passes could be transmitted to a remote application through NFC, using the Apple Pay Value Added Services protocol (Apple VAS).
Once configured using this template, a SpringCore Smart Reader is able to run the Apple VAS secure transaction on its own, and transmit the data in the plain to the host.</p></ng-container>
            <ng-container i18n="_multiconf_"><p>As per Apple requirements, Apple VAS should only run on top of a NFC reader that implements the Apple VAS Enhanced Contactless Polling (ECP), which is an Apple-proprietary extension of EMV and ISO/IEC 14443-A (NFC-A).
When configuring the Apple VAS template in the Smart Reader, always enable ECP in the &quot;NFC-A specific options&quot; configuration register and EMV compliance in the &quot;NFC/RFID HF compliance in poller mode&quot; configuration register.
The SpringCore firmware is only suitable to read Apple Pay VAS data, not to run Apple Pay transactions. SpringCore devices are not payment terminals.</p></ng-container>
            <div  class="register">
<h1><ng-container i18n="_multiconf_">Merchant ID</ng-container></h1>

<ng-container i18n="_multiconf_"><p>Merchant ID of the 1st (or only) merchant. This is SHA256(<em>Merchant Name</em>).</p></ng-container>
                <mat-form-field class="full-width" >        <mat-label><ng-container i18n="_multiconf_">Merchant ID</ng-container></mat-label><mat-hint align="end"><ng-container i18n="_multiconf_">Use hexadecimal notation (i.e FA04D3)</ng-container></mat-hint>        <input matInput type="text" formControlName="tplql55h6y_reg0006"
           minlength="0"   maxlength="64" >
            <mat-error>
            <val-errors controlName="tplql55h6y_reg0006"></val-errors>
        </mat-error>
    </mat-form-field>
            
</div>

            <div *ngIf="advanced" class="register">
<h1><ng-container i18n="_multiconf_">Merchant URL</ng-container></h1>

<ng-container i18n="_multiconf_"><p><em>Not used</em>.</p></ng-container>
                <mat-form-field class="full-width" *ngIf="advanced">        <mat-label><ng-container i18n="_multiconf_">Merchant URL</ng-container></mat-label><mat-hint align="end"><ng-container i18n="_multiconf_">undefined</ng-container></mat-hint>        <input matInput type="text" formControlName="tplql55h6y_reg0007"
           minlength="2"   maxlength="2" >
            <mat-error>
            <val-errors controlName="tplql55h6y_reg0007"></val-errors>
        </mat-error>
    </mat-form-field>
            
</div>

            <div  class="register">
<h1><ng-container i18n="_multiconf_">Merchant&#039;s Private Key</ng-container></h1>

                <mat-form-field class="full-width" >        <mat-label><ng-container i18n="_multiconf_">Key slot in the internal ATECC</ng-container></mat-label><mat-hint align="end"><ng-container i18n="_multiconf_">Use hexadecimal notation (i.e FA04D3)</ng-container></mat-hint>        <input matInput type="text" formControlName="tplql55h6y_reg0008_5jmntfy"
               >
    </mat-form-field>
            
                <mat-form-field class="full-width" >        <mat-label><ng-container i18n="_multiconf_">Value of ECC Private Key</ng-container></mat-label><mat-hint align="end"><ng-container i18n="_multiconf_">Use hexadecimal notation (i.e FA04D3)</ng-container></mat-hint>        <input matInput type="text" formControlName="tplql55h6y_reg0008_5a737by"
               >
    </mat-form-field>
            
</div>

            <div  class="register">
<h1><ng-container i18n="_multiconf_">Merchant ID (second)</ng-container></h1>

<ng-container i18n="_multiconf_"><p>Merchant ID of the 2nd merchant. This is SHA256(<em>Merchant Name</em>).</p></ng-container>
                <mat-form-field class="full-width" >        <mat-label><ng-container i18n="_multiconf_">Merchant ID (second)</ng-container></mat-label><mat-hint align="end"><ng-container i18n="_multiconf_">Use hexadecimal notation (i.e FA04D3)</ng-container></mat-hint>        <input matInput type="text" formControlName="tplql55h6y_reg0009"
           minlength="0"   maxlength="64" >
            <mat-error>
            <val-errors controlName="tplql55h6y_reg0009"></val-errors>
        </mat-error>
    </mat-form-field>
            
</div>

            <div *ngIf="advanced" class="register">
<h1><ng-container i18n="_multiconf_">Merchant URL (second)</ng-container></h1>

<ng-container i18n="_multiconf_"><p><em>Not used</em>.</p></ng-container>
                <mat-form-field class="full-width" *ngIf="advanced">        <mat-label><ng-container i18n="_multiconf_">Merchant URL (second)</ng-container></mat-label><mat-hint align="end"><ng-container i18n="_multiconf_">undefined</ng-container></mat-hint>        <input matInput type="text" formControlName="tplql55h6y_reg000a"
           minlength="2"   maxlength="2" >
            <mat-error>
            <val-errors controlName="tplql55h6y_reg000a"></val-errors>
        </mat-error>
    </mat-form-field>
            
</div>

            <div  class="register">
<h1><ng-container i18n="_multiconf_">Merchant&#039;s Private Key (second)</ng-container></h1>

                <mat-form-field class="full-width" >        <mat-label><ng-container i18n="_multiconf_">Key slot in the internal ATECC</ng-container></mat-label><mat-hint align="end"><ng-container i18n="_multiconf_">Use hexadecimal notation (i.e FA04D3)</ng-container></mat-hint>        <input matInput type="text" formControlName="tplql55h6y_reg000b_5jmntfy"
               >
    </mat-form-field>
            
                <mat-form-field class="full-width" >        <mat-label><ng-container i18n="_multiconf_">Value of ECC Private Key</ng-container></mat-label><mat-hint align="end"><ng-container i18n="_multiconf_">Use hexadecimal notation (i.e FA04D3)</ng-container></mat-hint>        <input matInput type="text" formControlName="tplql55h6y_reg000b_5a737by"
               >
    </mat-form-field>
            
</div>

            <div  class="register">
<h1><ng-container i18n="_multiconf_">Output Size and Format</ng-container></h1>

            <div class="mat-form-field-wrapper" >
			<mat-label id="lbl_tplql55h6y_reg0001_ut4pn2n_2kglign"><ng-container i18n="_multiconf_">Invert Data?</ng-container></mat-label>
		<mat-radio-group  aria-labelledby="lbl_tplql55h6y_reg0001_ut4pn2n_2kglign" class="mat-radio-group" formControlName="tplql55h6y_reg0001_ut4pn2n_2kglign">
													<mat-radio-button class="mat-radio-button" value="0" ><ng-container i18n="_multiconf_">Transmit the sequence of bytes as is</ng-container></mat-radio-button>
												<mat-radio-button class="mat-radio-button" value="1" ><ng-container i18n="_multiconf_">Transmit the sequence of bytes in reverse order</ng-container></mat-radio-button>
						</mat-radio-group>
	</div>

            
            <div class="mat-form-field-wrapper" >
			<mat-label id="lbl_tplql55h6y_reg0001_ut4pn2n_7wdxe6d"><ng-container i18n="_multiconf_">Mode</ng-container></mat-label>
		<mat-radio-group  aria-labelledby="lbl_tplql55h6y_reg0001_ut4pn2n_7wdxe6d" class="mat-radio-group" formControlName="tplql55h6y_reg0001_ut4pn2n_7wdxe6d">
													<mat-radio-button class="mat-radio-button" value="0" ><ng-container i18n="_multiconf_">RAW Mode (Data is a numerical value)</ng-container></mat-radio-button>
												<mat-radio-button class="mat-radio-button" value="1" ><ng-container i18n="_multiconf_">String Mode (Data is an ASCII string)</ng-container></mat-radio-button>
						</mat-radio-group>
	</div>

            
            <div class="mat-form-field-wrapper" >
			<mat-label id="lbl_tplql55h6y_reg0001_ut4pn2n_rsfphul"><ng-container i18n="_multiconf_">Padding if Data is shorted than specified length</ng-container></mat-label>
		<mat-radio-group  aria-labelledby="lbl_tplql55h6y_reg0001_ut4pn2n_rsfphul" class="mat-radio-group" formControlName="tplql55h6y_reg0001_ut4pn2n_rsfphul">
													<mat-radio-button class="mat-radio-button" value="0" ><ng-container i18n="_multiconf_">Padd with 0 on the left</ng-container></mat-radio-button>
												<mat-radio-button class="mat-radio-button" value="1" ><ng-container i18n="_multiconf_">Padd with F on the right</ng-container></mat-radio-button>
						</mat-radio-group>
	</div>

            
            <div class="mat-form-field-wrapper" >
			<mat-label id="lbl_tplql55h6y_reg0001_ut4pn2n_4hgd4jd"><ng-container i18n="_multiconf_">Remove leading zeroes?</ng-container></mat-label>
		<mat-radio-group  aria-labelledby="lbl_tplql55h6y_reg0001_ut4pn2n_4hgd4jd" class="mat-radio-group" formControlName="tplql55h6y_reg0001_ut4pn2n_4hgd4jd">
													<mat-radio-button class="mat-radio-button" value="0" ><ng-container i18n="_multiconf_">Keep all digits</ng-container></mat-radio-button>
												<mat-radio-button class="mat-radio-button" value="1" ><ng-container i18n="_multiconf_">Suppress 0 digits on the left of the Data</ng-container></mat-radio-button>
						</mat-radio-group>
	</div>

            
            <div class="mat-form-field-wrapper" >
			<mat-label id="lbl_tplql55h6y_reg0001_ut4pn2n_ytndzhn"><ng-container i18n="_multiconf_">Length and Format</ng-container></mat-label>
		<mat-radio-group  aria-labelledby="lbl_tplql55h6y_reg0001_ut4pn2n_ytndzhn" class="mat-radio-group" formControlName="tplql55h6y_reg0001_ut4pn2n_ytndzhn">
													<mat-radio-button class="mat-radio-button" value="0" ><ng-container i18n="_multiconf_">Decimal, 10 digits (truncation on 4-B)</ng-container></mat-radio-button>
												<mat-radio-button class="mat-radio-button" value="1" ><ng-container i18n="_multiconf_">Raw (hex), 4 bytes (32 bits)</ng-container></mat-radio-button>
												<mat-radio-button class="mat-radio-button" value="2" ><ng-container i18n="_multiconf_">Raw (hex), 8 bytes (64 bits)</ng-container></mat-radio-button>
												<mat-radio-button class="mat-radio-button" value="3" ><ng-container i18n="_multiconf_">Raw (hex), 5 bytes (40 bits)</ng-container></mat-radio-button>
												<mat-radio-button class="mat-radio-button" value="4" ><ng-container i18n="_multiconf_">Raw (hex), 10 bytes (80 bits)</ng-container></mat-radio-button>
												<mat-radio-button class="mat-radio-button" value="5" ><ng-container i18n="_multiconf_">Raw (hex), 7 bytes (56 bits)</ng-container></mat-radio-button>
												<mat-radio-button class="mat-radio-button" value="6" ><ng-container i18n="_multiconf_">Raw (hex), 11 bytes (88 bits)</ng-container></mat-radio-button>
												<mat-radio-button class="mat-radio-button" value="7" ><ng-container i18n="_multiconf_">Reserved for futur use</ng-container></mat-radio-button>
												<mat-radio-button class="mat-radio-button" value="8" ><ng-container i18n="_multiconf_">Raw (hex), 16 bytes (128 bits)</ng-container></mat-radio-button>
												<mat-radio-button class="mat-radio-button" value="9" ><ng-container i18n="_multiconf_">Raw (hex), 20 bytes (160 bits)</ng-container></mat-radio-button>
												<mat-radio-button class="mat-radio-button" value="16" ><ng-container i18n="_multiconf_">Raw (hex), 24 bytes (196 bits)</ng-container></mat-radio-button>
												<mat-radio-button class="mat-radio-button" value="17" ><ng-container i18n="_multiconf_">Raw (hex), 32 bytes (256 bits)</ng-container></mat-radio-button>
												<mat-radio-button class="mat-radio-button" value="18" ><ng-container i18n="_multiconf_">Decimal, 12 digits (truncation on 5-B)</ng-container></mat-radio-button>
												<mat-radio-button class="mat-radio-button" value="19" ><ng-container i18n="_multiconf_">Decimal, 13 digits (truncation on 5-B)</ng-container></mat-radio-button>
												<mat-radio-button class="mat-radio-button" value="20" ><ng-container i18n="_multiconf_">Decimal, variable length</ng-container></mat-radio-button>
												<mat-radio-button class="mat-radio-button" value="21" ><ng-container i18n="_multiconf_">Raw (hex), variable length</ng-container></mat-radio-button>
						</mat-radio-group>
	</div>

            
                        
                        
                        
                        
                        
                        
</div>

            <div  class="register">
<h1><ng-container i18n="_multiconf_">Options</ng-container></h1>

<ng-container i18n="_multiconf_"><p>If this register is set, the Reader adds a token to its output to tell the receiver what kind of credential has been read.</p></ng-container>
            <input type="hidden" name="tplql55h6y_reg0004_g65secl" id="tplql55h6y_reg0004_g65secl"  formControlName="tplql55h6y_reg0004_g65secl" >
            
                        
            <div class="mat-form-field-wrapper" *ngIf="advanced">
			<mat-label id="lbl_tplql55h6y_reg0004_khxezgy"><ng-container i18n="_multiconf_">Add a Card Type Token to the output stream?</ng-container></mat-label>
		<mat-radio-group  aria-labelledby="lbl_tplql55h6y_reg0004_khxezgy" class="mat-radio-group" formControlName="tplql55h6y_reg0004_khxezgy">
													<mat-radio-button class="mat-radio-button" value="0" *ngIf="advanced"><ng-container i18n="_multiconf_">Do not add a Card Type Token</ng-container></mat-radio-button>
												<mat-radio-button class="mat-radio-button" value="1" *ngIf="advanced"><ng-container i18n="_multiconf_">Add D1 hex value as Card Type Token</ng-container></mat-radio-button>
												<mat-radio-button class="mat-radio-button" value="2" *ngIf="advanced"><ng-container i18n="_multiconf_">Add A char as Card Type Token</ng-container></mat-radio-button>
												<mat-radio-button class="mat-radio-button" value="3" *ngIf="advanced"><ng-container i18n="_multiconf_">Reserved for futur use</ng-container></mat-radio-button>
						</mat-radio-group>
	</div>

            
</div>

            <div  class="register">
<h1><ng-container i18n="_multiconf_">Prefix</ng-container></h1>

<ng-container i18n="_multiconf_"><p>A Template-specific Prefix, that is added after the Reader's global Prefix.</p></ng-container>
<ng-container i18n="_multiconf_"><p>Use <code>\\t</code> for a Tab, <code>\\n</code> for Enter, <code>\\b</code> for Back space, <code>\\v</code> for Vertical space.</p></ng-container>
            <mat-form-field class="full-width" >        <mat-label><ng-container i18n="_multiconf_">Prefix</ng-container></mat-label>        <input matInput type="text" formControlName="tplql55h6y_reg0002"
              maxlength="8" >
            <mat-error>
            <val-errors controlName="tplql55h6y_reg0002"></val-errors>
        </mat-error>
    </mat-form-field>
            
</div>

          </form>
    <div class="invalid_form" *ngIf="configurationForm.invalid">
      <mat-icon class="error_icon">error</mat-icon><ng-container i18n><p class="error_text">The content of the configuration is invalid or some parts are missing and so can't be saved, please correct the problem(s).</p></ng-container>
    </div>
</mat-accordion>
<br /><br />
