.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  min-height: 59px;
  background: #102C43;
  .copyright {
    color: white;
  }
  .right {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    font-size: 10px;
  }
  .footer-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    a {
      color: white;
    }
    .line {
      height: 10px;
      border-right: 1px solid white;
    }
  }
}