<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <img src="assets/svg/logo-icon.svg" alt="springcard companion" width="50px" />&nbsp;
        <h1 i18n>SpringCard Companion</h1>
      </mat-card-title>
      <mat-card-subtitle>
        <p i18n>Welcome to SpringCard Companion. <br />Please login with your email and password.</p>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="content">
        <mat-form-field class="full-width">
          <mat-label i18n>Email</mat-label>
          <input matInput type="email" name="email" formControlName="email" required />
          <mat-error>
            <val-errors controlName="email"></val-errors>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label i18n>Password (8 chars min)</mat-label>
          <input matInput type="password" name="password" formControlName="password" required minlength="8"/>
          <mat-error>
            <val-errors controlName="password"></val-errors>
          </mat-error>
        </mat-form-field>
        <div class="bottom">
          <mat-checkbox labelPosition="after" formControlName="rememberpassword" i18n>Remember my password on this computer</mat-checkbox
          ><br />
          <mat-hint><small i18n>(do not check this box on a public or shared computer)</small></mat-hint>
        </div>
        <button mat-flat-button class="login_btn" color="primary" type="submit">
          <mat-icon *ngIf="isLogging"><mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner></mat-icon>
          <ng-container i18n>Login</ng-container>
        </button>
      </form>
      <div class="social_text">Or login using:</div>
      <div class="social_buttons">
        <!-- <form [action]="this.googleOAuthUrl" method="post" (ngSubmit)="googleLogin($event)"> -->
        <button mat-icon-button type="submit" aria-label="Google" color="primary" (click)="loginWithSocialProvider('google')">
          <fa-icon class="fa-lg" [icon]="googleIcon"></fa-icon>
        </button>
        <!-- </form> -->
        <button mat-icon-button aria-label="Facebook" color="primary">
          <fa-icon class="fa-lg" [icon]="facebookIcon"></fa-icon>
        </button>
        <button mat-icon-button aria-label="Apple" color="primary">
          <fa-icon class="fa-lg" [icon]="appleIcon"></fa-icon>
        </button>
        <button mat-icon-button aria-label="LinkedIn" color="primary">
          <fa-icon class="fa-lg" [icon]="linkedinIcon"></fa-icon>
        </button>
        <button mat-icon-button aria-label="Github" color="primary">
          <fa-icon class="fa-lg" [icon]="githubIcon"></fa-icon>
        </button>
      </div>
      <div class="additional_actions">
        <div class="sub_action">
          <p i18n>No account yet?</p>
          <a i18n class="action_btn" (click)="redirectUserTo('./register')">Create an account for free</a>
        </div>
        <div class="sub_action">
          <p i18n>Lost password?</p>
          <a i18n class="action_btn" (click)="redirectUserTo('./requestnewpassord')">Reset Password</a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
